# ENVIRONMENT
NODE_ENV="development"

#APP CONFIGS
PORT="3000"

# Database
POSTGRES_USER:"postgres"
POSTGRES_PASSWORD:"password"
POSTGRES_DB:"minidocs"
DATABASE_URL="postgresql://postgres:password@localhost:5432/minidocs"

# JWT
JWT_PUBLIC_KEY_PATH="/run/secrets/jwt_public.pem"

# CORS
CORS_WHITE_LIST="*"